body{ 
    background-color: lightgray;        
margin: 50px;
font-family: Arial, Helvetica, sans-serif;

}

.kartica{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;
    font-family: arial;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}


.slika-kontejnera img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.oznaka {

position: absolute;
    top: 8px;
    background-color: #007bff;
    color: white;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;

}
.karakteristike-kamere{
    text-align: left;
}

.cijena-kamere{
    font-weight: bolder;
}

