:root{
    --primarna-boja: #2c3e50;
    --pozadina: #b0a4e1;

}

body{
    background-color: var(--pozadina);
    background-image: radial-gradient(circle,#108bde 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}
.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height:100vh ;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: rgb(255, 255, 255);

    box-sizing: border-box;

    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--primarna-boja);
    outline-offset: 10px;
}

section{
    border: 2px solid var(--primarna-boja);
    border-radius: 0.5rem;
    padding: 15px;

}



