body{
    background-color: rgb(0, 153, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  text-align: center;

h1{
    color: blue;
}   h2{
    color: green;
}   h3{
    color: red;
}
