body{
background-color: aliceblue;
font-family: sans-serif;
}
.container{
background-color: white;
border: 1px solid red;
max-width: 960px;
margin: auto;
}

.forma{
border: 1px solid #eacebe;
border-radius: 10px;
padding: 1rem;
margin-bottom: 30px;
}

form{
display: flex;
flex-direction: column;
gap: 1em;
}

.unos{
display: flex;
flex-direction: column;
}

h1{
font-size: 1.5rem;
border-bottom: 2px solid blue;
padding-bottom: 10px;
max-width: 180px;
}

label{
font-weight: bold;
color: #555;
}

input[type="text"],
input[input="email"]
select{
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
}

input[type="submit"]{
background-color: green;
color: white;
padding: 0.5rem;
border: 0;
border-radius: 5px;
max-width: 200px;
}

table{
width: 100%;
border-collapse: collapse;
}

th{
background-color: blue;
color: white;
padding: 5px;
font-size: 0.8rem;
text-align: left;
}

tbody > tr> td:first-child
thead > tr > td:first-child{
text-align: center;
}

tbody > tr > td:last-child{
color: red;
text-align: center;
}

td{
padding: 7px;
border-bottom: solid #ccc;
}