:root{
<<<<<<< HEAD
--pozadina-boja: #eee;
--panel-boja:white;

}

body{
    background-color:var(--pozadina-boja) ;
}


div{
    font-family: sans-serif;
background-color: var(--panel-boja);
max-width: 300px;
margin:100px auto;
border-radius: 10px;
padding: 15px;
text-align: center;

=======
    --pozadina-boja: #eee;
    --panel-boja: white;
}

body{
    background-color: var(--pozadina-boja);
}

div{
    font-family: sans-serif;
    background-color: var(--panel-boja);
    max-width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
>>>>>>> b88743148117075e46d335bdacb36049caa8b017
}

h2{
    color: #9c8d8d;
<<<<<<< HEAD
    font-size: 1.1em;
    

}

=======
    font-size: 1.1rem;
}
>>>>>>> b88743148117075e46d335bdacb36049caa8b017
